
.DNAFORM {
    width: 1000px;
    
}

.inputbox {
    width: 600px;
    height: 200px;
}

.footer {
    position: relative;
    bottom: 0;
}

.indexFooter {
    position: absolute;
    bottom: 0;
}


.breakWords {
    width: 1750px;
    word-wrap: break-word;
}

.returnMain {
    font-size: 200%;
}

.putInCenter {
    text-align: center;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }